<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
       <mat-icon (click)="openLeftSide()">menu</mat-icon>
     </button>
    <span>Quản lý học sinh </span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #naviSide (closed)="closeLeftSide()">
        <mat-nav-list>
            <a mat-list-item routerLink="/home" routerLinkActive="active">
                <mat-icon>home</mat-icon>
                Home
            </a>
            <a mat-list-item routerLink="/student" routerLinkActive="active">
                <mat-icon>build</mat-icon>
                Danh sác học sinh
            </a>
            <a mat-list-item routerLink="/form" routerLinkActive="active">
                <mat-icon>class</mat-icon>
                Form
            </a>
            <a mat-list-item routerLink="/ReactiveForm" routerLinkActive="active">
                <mat-icon>receipt</mat-icon>
                Reactive Form
            </a>
            <a mat-list-item (click)="naviSide.toggle()">
                <mat-icon>close</mat-icon>
                Close
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height:90vh; margin-top:20px; margin-right:10px;margin-left:10px;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>